{% extends "mainApp/base.html" %}
{% load static %}

{% block title %}
Login Page
{% endblock title%}


{% block content %}

  

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({%static 'images/bg-01.jpg'%});">
		<h2 class="ltext-105 cl0 txt-center">
			Кіру
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-104 p-b-116">
		<div class="container">
			<div class="flex-w flex-tr">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
					<form method="POST">
						<p>  {% if messages %}
							<ul class="messages">
								{% for message in messages %}
										<li class="{{ message.tags }}">
														{{ message|safe }}
					
										</li>
								{% endfor %}
						</ul>
						{% endif %}</p>
						<h4 class="mtext-105 cl2 txt-center p-b-30">
							Log in
						</h4>

						{% csrf_token %}

						<p><b style="color: red;">{{form.non_field_errors }}</b></p>
						<br>

						{% for field in form %}
						
						<div class="bor8 m-b-20 how-pos4-parent">
								 {{field}}
						</div>


						{% endfor %}









						<!-- <div class="bor8 m-b-20 how-pos4-parent"> -->
							<!-- <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="login" placeholder="Your Email Address"> -->
						<!-- </div> -->

						<button name="sub" type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
							Log in
						</button>
						<br>
						<a href="{%url 'register_view'%}">Registration</a>
					</form>
				</div>

				<div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-map-marker"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Адрес
							</span>

							<p class="stext-115 cl6 size-213 p-t-18">
								Алматы қаласы, Әл-Фараби 71/16, 2-этаж,212 офис
							</p>
						</div>
					</div>

					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-phone-handset"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Байланыс
							</span>

							<p class="stext-115 cl1 size-213 p-t-18">
								+7 702 681 98 50
							</p>
						</div>
					</div>

					<div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-envelope"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Онлайн Көмек
							</span>

							<p class="stext-115 cl1 size-213 p-t-18">
								daurenotarbai.00@gmail.com
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock content%}

