{% extends "base/base_admin.html" %}
{% load static %}

{% block title %}
Dashboard
{% endblock title%}


{% block content %}
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">


                <!-- Orders -->
                <div class="orders">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="box-title">All orders</h4>
                                </div>
                                <div class="card-body--">
                                    <div class="table-stats order-table ov-h">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th class="serial">#</th>
                                                    <th class="avatar">Avatar</th>
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>Total</th>
                                                    <th>Date time</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for order in page_object%}
                                                <tr>
                                                    <td class="serial">{{forloop.counter}}.</td>
                                                    <td class="avatar">
                                                        <div class="round-img">
                                                            <a href="#"><img class="rounded-circle" src="{% static 'images/avatar-01.jpg'%}" alt=""></a>
                                                        </div>
                                                    </td>
                                                    <td> #000{{order.id}} </td>
                                                    <td>  <span class="name">{{order.customer_name}}</span> </td>
                                                    <td> <span class="product">{{order.total_price}}</span> </td>
                                                    <td><span class="count">{{order.created_time}}</span></td>
                                                    <td>
                                                        <span class="badge badge-complete">Complete</span>
                                                    </td>
                                                </tr>
                                                 {%endfor%}
                                                
                                            </tbody>
                                        </table>
                                    </div> <!-- /.table-stats -->
                                </div>
                            </div> <!-- /.card -->
                        </div>  <!-- /.col-lg-8 -->

                    </div>
                </div>
                <!-- /.orders -->
                
 
                {%if is_paginated%}
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item {%if not prev_url%}disabled{%endif%}">
              <a class="page-link" href="{{prev_url}}" tabindex="-1">Previous</a>
            </li>

            {% for page in page_object.paginator.page_range %}

              {%if page_object.number == page%}
                <li class="page-item active">
                  <a class="page-link" href="?page={{ page }}">{{ page }} <span class="sr-only">(current)</span></a>
                </li>
              {% elif page > page_object.number|add:-3 and page < page_object.number|add:3 %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ page }}">{{ page }} <span class="sr-only">(current)</span></a>
                </li>
              {%endif%}
            {% endfor %}
            <li class="page-item {%if not next_url%}disabled{%endif%}">
              <a class="page-link" href="{{next_url}}">Next</a>
            </li>
          </ul>
        </nav>
      {%endif%}


            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
{% endblock content%}

{% block scripts %}
    <script>
        jQuery(document).ready(function($) {
            "use strict";

            // Pie chart flotPie1
            var piedata = [
                { label: "Desktop visits", data: [[1,32]], color: '#5c6bc0'},
                { label: "Tab visits", data: [[1,33]], color: '#ef5350'},
                { label: "Mobile visits", data: [[1,35]], color: '#66bb6a'}
            ];

            $.plot('#flotPie1', piedata, {
                series: {
                    pie: {
                        show: true,
                        radius: 1,
                        innerRadius: 0.65,
                        label: {
                            show: true,
                            radius: 2/3,
                            threshold: 1
                        },
                        stroke: {
                            width: 0
                        }
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true
                }
            });
            // Pie chart flotPie1  End
        
        });

        var ctx = document.getElementById('myChart').getContext('2d');

        var stackedLine = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['March','Apr','May','June','July','Aug','Sep','Oct'],
                datasets: [{ 
                    data: [{%for item in users%}{{item.id}},{%endfor%}],
                    label: "Customers",
                     borderColor: "#fff",
                     borderWidth: 1,
                     fill: false
                }, 
                ]
            },
            options: {
                title: {
                display: false,
             

                }
            }
    });

    </script>
   
{% endblock scripts %}